/*
/*
/*	1140 Grid CSS layout
/*
/*
/*	Created By Richard McCartney
/*	Date 12/04/2013
/*
/*	http://richardmccartney.co.uk
/*  Twitter - @Rich_McCartney
/*
/* ------------------------------------------------------------ */

/* Container and row styles */

.container {
	margin: 0 auto;
	max-width: 1164px;
	width: 100%;
	height: 100%;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.row {
	float: left;
	padding-bottom: 20px;
	width: 100%;
}

/* Column styles */

[class^="col-"] {
	position: relative;
	float: left;
	margin: 0 1.0309278350515463%;
	min-height: 1px;
	height: auto;
}

.col-12 {
	max-width: 97.9381443298969%;
	width: 100%;
}

.col-11 {
	max-width: 89.60481099656357%;
	width: 100%;
}

.col-10 {
	max-width: 81.27147766323024%;
	width: 100%;
}

.col-9 {
	max-width: 72.9381443298969%;
	width: 100%;
}

.col-8 {
	max-width: 64.60481099656357%;
	width: 100%;
}

.col-7 {
	max-width: 56.27147766323024%;
	width: 100%;
}

.col-6 {
	max-width: 47.93814432989691%;
	width: 100%;
}

.col-5 {
	max-width: 39.60481099656357%;
	width: 100%;
}

.col-4 {
	max-width: 31.27147766323024%;
	width: 100%;
}

.col-3 {
	max-width: 22.938144329896907%;
	width: 100%;
}

.col-2 {
	max-width: 14.604810996563575%;
	width: 100%;
}

.col-1 {
	max-width: 6.2714776632302405%;
	width: 100%;
}

/* Mobile Styles for 768px breakpoint */
@media screen and (max-width: 768px) {

	.container {
		margin: 0;
		max-width: 768px;
		width: 100%;
	}

	.row {
		padding: 0;
	}

	.col-12,
	.col-11,
	.col-10,
	.col-9,
	.col-8,
	.col-7,
	.col-6,
	.col-5,
	.col-4,
	.col-3,
	.col-2,
	.col-1 {
		margin: 0 1% 20px;
		max-width: 768px;
		width: 98%;
	}

}
