/*
/*
/*	1140 Grid CSS layout
/*
/*
/*	Created By Richard McCartney
/*	Date 12/04/2013
/*
/*	http://richardmccartney.co.uk
/*  Twitter - @Rich_McCartney
/*
/* ------------------------------------------------------------ */

/* Container and row styles */

.container {
	margin: 0 auto;
	max-width: 1164px;
	width: 100%;
	height: 100%;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.row {
	float: left;
	padding-bottom: 20px;
	width: 100%;
}

/* Column styles */

[class^="col-"] {
	position: relative;
	float: left;
	margin: 0 1.0309278350515463%;
	min-height: 1px;
	height: auto;
}

.col-twelve {
	max-width: 97.9381443298969%;
	width: 100%;
}

.col-eleven {
	max-width: 89.60481099656357%;
	width: 100%;
}

.col-ten {
	max-width: 81.27147766323024%;
	width: 100%;
}

.col-nine {
	max-width: 72.9381443298969%;
	width: 100%;
}

.col-eight {
	max-width: 64.60481099656357%;
	width: 100%;
}

.col-seven {
	max-width: 56.27147766323024%;
	width: 100%;
}

.col-six {
	max-width: 47.93814432989691%;
	width: 100%;
}

.col-five {
	max-width: 39.60481099656357%;
	width: 100%;
}

.col-four {
	max-width: 31.27147766323024%;
	width: 100%;
}

.col-three {
	max-width: 22.938144329896907%;
	width: 100%;
}

.col-two {
	max-width: 14.604810996563575%;
	width: 100%;
}

.col-one {
	max-width: 6.2714776632302405%;
	width: 100%;
}

/* Mobile Styles for 768px breakpoint */
@media screen and (max-width: 768px) {

	.container {
		margin: 0;
		max-width: 768px;
		width: 100%;
	}

	.row {
		padding: 0;
	}

	.col-twelve,
	.col-eleven,
	.col-ten,
	.col-nine,
	.col-eight,
	.col-seven,
	.col-six,
	.col-five,
	.col-four,
	.col-three,
	.col-two,
	.col-one {
		margin: 0 1% 20px;
		max-width: 768px;
		width: 98%;
	}
}
