/*
/*
/*	1140 Grid CSS Site Styles
/*
/*
/*	Created By Richard McCartney
/*	Date 12/04/2013
/*
/*	http://richardmccartney.co.uk
/*  Twitter - @ Rich_McCartney
/*
/* ------------------------------------------------------------ */

* {
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

html {
	height: 100%;
	-webkit-text-size-adjust: none;
}

body {
	height: 100%;
	color: #333;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	font-family: 'PT Sans Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 30px;
}

header {
	float: left;
	min-height: 350px;
	width: 100%;
	background: #6CB1E2 url(../images/bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: fixed;
	z-index: -1;
}

header h1 {
	color: #f5f6f6;
	text-transform: uppercase;
	text-shadow: 10px 10px 0 #1b2d35;
	font: normal normal 200px/350px 'League Gothic', Helvetica, Arial, sans-serif;
}

header span {
	color: #2a6690;
}

.intro {
	float: left;
	padding: 100px 0;
	width: 100%;
	background: #1b2d35;
	margin-top: 350px;
	z-index: 10;
	position: relative;
	-webkit-box-shadow: 0 -1px 20px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 -1px 20px rgba(0,0,0,0.1);
	box-shadow: 0 -1px 20px rgba(0,0,0,0.1);
}

.intro p {
	color: #f5f6f6;
	text-align: center;
}

.features,
.example {
	float: left;
	padding: 100px 0;
	width: 100%;
	color: #1b2d35;
	background: #FFF;
	z-index: 10;
	position: relative;
}

.example {
	padding-bottom: 150px;
}

.features h2,
.example h2 {
	margin-bottom: 90px;
	text-transform: uppercase;
	font: normal normal 72px/24px 'League gothic', Helvetica, Arial, sans-serif;
}

.features h3 span {
	float: left;
	margin: 40px 0;
	width: 100%;
	color: #2a6690;
	font-size: 48px;
}

.example p {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #EEE;
	font-size: 16px;
}

.download {
	float: left;
	padding: 100px 0 50px;
	width: 100%;
	background: #EEE;
	z-index: 10;
	position: relative;
}

.download a {
	color: #333;
	text-decoration: none;
}

.download span {
	display: block;
	width: 100%;
	font-size: 100px;
	margin-bottom: 45px;
}

footer {
	float: left;
	padding: 50px 0 30px;
	width: 100%;
	background: #6CB1E2;
	color: #f5f6f6;
	text-align: center;
	z-index: 10;
	position: relative;
}

footer a {
	color: #2a6690;
}

footer p {
	margin-top: 20px;
}


/* Mobile Styles for 768px breakpoint */
@media screen and (max-width: 768px) {

	p {
		font-size: 20px;
		line-height: 28px;
	}

	header {
		min-height: 0;
		height: auto;
	}

	header h1 {
		margin: 40px 0 50px;
		font-size: 100px;
		line-height: 100px;
		text-shadow: 7px 7px 0 #1b2d35;
	}

	.intro {
		margin-top: 190px;
	}

	.intro,
	.features,
	.example {
		padding: 40px 0 30px;
	}

	.features h2,
	.example h2 {
		margin-bottom: 20px;
		font-size: 50px;
		line-height: 100px;
	}

	footer iframe {

		text-align: center;
	}

	footer p {
		float: left;
		width: 100%;
	}
}

@media screen and (max-width: 320px) {

	.intro {
		margin-top: 290px;
	}
}
